body {
    font-size: 16px !important;
}

.loading.cover-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.loading.cover-page {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.loading .ant-spin {
    color: #3e79f7
}

#__next {
    height: 100%;
}

.label_reset_password {
    font-size: 15px !important;
}

.svgFunnelCanvas-0-0-4 {
    width: 100%;
}

.apexcharts-canvas {
    width: 100% !important;
}

.apexcharts-svg {
    display: block;
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .team_screen_select {
        display: flex !important;
        flex-direction: column !important;
    }

    .team_screen_select .team_screen_select-button {
        text-align: center;
        margin: 5px 0;
    }

    .ant-radio-button-wrapper:last-child {
        border-radius: 0 !important;
    }

    .ant-radio-button-wrapper:first-child {
        border-radius: 0 !important;
    }
}


.articlecontent-wrapper_linkBlock {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

.articlecontent_linkBlock-content {
    will-change: filter;
    animation: link-in 450ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);
    display: block;
    padding: 25px;
    color: initial !important;
    text-decoration: none !important;
    border: 1px solid #ccc !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
    border-radius: 6px !important;
}

.articlecontent_linkBlock-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 30px;
    width: 65px;
    height: 65px;
    border-radius: 3px;
    float: right;
}

.articlecontent_linkBlock {
    max-width: 900px !important;
    font-family: "Roboto", sans-serif;
}

.articlecontent_linkBlock-domain {
    display: block;
    font-size: 15px;
    line-height: 1em;
    border: 0 !important;
    padding: 0 !important;
}

.articlecontent_linkBlock-description {
    margin: 0 0 20px 0;
    font-size: 15px;
    line-height: 1.55em;
    display: -webkit-box;
    overflow: hidden;
}

.articlecontent_linkBlock-title {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5em;
    margin: 0 0 10px 0;
}


